@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

@font-face {
    font-family: Montserrat-regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
  }
@font-face {
    font-family: Montserrat-bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
  }
@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
  }
 
  #navbar {

    overflow: hidden;
  

  }
  .fixed-top {
    margin-left: auto;
    margin-right: auto;
   width: 1200px !important; 
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
    background-color: #ffffff !important;
 }
 #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }
  .nav-item a:hover {
font-size: 12px;
color: #b9ada9 !important;
  }
/* --------------------------------------------------------------------------particles-------------- */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  margin-top: 20px;
  width: 100%;
  height: 130%;
  z-index: -10;
  /* background-color: #b61924; */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
/* 
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
} */

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

.cube{
  width: 50px;
  height: 50px;
  position: relative;
  top: 200px;
  left: 50%;
  margin-left: -05px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg) translateZ(-200px);
  -webkit-animation-name: rotationMainContainer;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
.cube-two{ 
  width: 150px;
  height: 150px;
  position: relative;
  top: 300px;
  left: 70%;
  margin-left: -75px;
  
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg) translateZ(-200px);
  
  -webkit-animation-name: rotationMainContainer;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
.cube-three{
  width: 110px;
  height: 100px;
  position: relative;
  top: 180px;
  left: 30%;
  margin-left: -75px;
  
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg) translateZ(-200px);
  
  -webkit-animation-name: rotationMainContainer;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}

.cube-face{
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: .95;
  background: #ff033e;
  
  -webkit-transform-origin: 50% 50%;
  
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}

.cube-face-two{
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: .95;
  background: #ff033e;
  
  -webkit-transform-origin: 50% 50%;
  
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}


.cube-face-front{
  -webkit-transform: translateZ(75px);
  -webkit-animation-name: bgCAFace;
}

.cube-face-left{
  -webkit-transform: rotateY(90deg) translateZ(75px);
  -webkit-animation-name: bgCALeft;
}

.cube-face-back{
  -webkit-transform: translateZ(-75px);
  -webkit-animation-name: bgCABack;
}

.cube-face-right{
  -webkit-transform: rotateY(90deg) translateZ(-75px);
  -webkit-animation-name: bgCARight;
}

.cube-face-top{
  -webkit-transform: rotateX(90deg) translateZ(-75px);
  -webkit-animation-name: bgCATopBottom;
}

.cube-face-bottom{
  -webkit-transform: rotateX(90deg) translateZ(75px);
  -webkit-animation-name: bgCATopBottom;
}

@-webkit-keyframes rotationMainContainer{
  0%   { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) }
}

@-webkit-keyframes bgCAFace{
  0%  { background: #a7a7a7; }
  25%  { background: #d4d0d1; }
  50% { background: #e2dddf; }
  100%   { background: #d4d0d1; }
}

@-webkit-keyframes bgCALeft{
  0%  { background: #a7a7a7; }
  25%  { background: #d4d0d1; }
  50% { background: #e2dddf; }
  100%   { background: #d4d0d1; }
}

@-webkit-keyframes bgCABack{
  0%  { background: #a7a7a7; }
  25%  { background: #d4d0d1; }
  50% { background: #e2dddf; }
  100%   { background: #d4d0d1; }
}

@-webkit-keyframes bgCARight{  
  0%  { background: #a7a7a7; }
  25%  { background: #d4d0d1; }
  50% { background: #e2dddf; }
  100%   { background: #d4d0d1; }
}

@-webkit-keyframes bgCATopBottom{
  0%  { background: #a7a7a7; }
  25%  { background: #d4d0d1; }
  50% { background: #e2dddf; }
  100%   { background: #d4d0d1; }
}
/* --------------------------------------------------------------------------particles-------------- */
  .hero-wrapper {
    height: 700px;
  }
  .sticky {
    position: fixed;
    top: 10;
    z-index: 999;
    width: 100%;
    border: 1px solid red;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

body {
    background-color: #F6F7F9 !important;
}
.nav-icons ul li {
    list-style: none;
    display: inline-block
    
}

.nav-icons ul  {
margin: 0px 12px;
}
.nav-icons ul li img {
    margin-left: 9px;
    margin-right: 9px;
    width: 19.56px;
    margin-top: 12px;
      
}
.nav-icons {
    display: inline-flex;
}
.nav-icons .btn:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.nav-icons .btn{
  background-color: #1092B2;
  color: white;
  padding: 4px 32px;
  border: none;
  border-radius: 5px;
  margin: 9px 7px;
  font-size: 14px;
font-family: 'Montserrat-regular', sans-serif;
  font-weight: 300;
}
.nav-item a {

font-size: 12px;
margin-right: 12px;
margin-left: 18px;
margin-top: 4px;
font-weight: 500;
font-family: 'Montserrat-Medium', sans-serif;
color: #02293E  !important;
}
.banner-wrapper {
    margin: 1px 32px;
}
.banner-inner-text  {
  margin-top: 25%;
}
.banner-inner-text h2 {
    font-family: Montserrat-bold;
    width: 90%;
    line-height: 50px;
}
.banner-inner-text p {
    
    font-family: Montserrat-Medium;
    width: 97%;
    color: #707070;
    font-size: 12px;
    margin: 22px 0px;
    /* line-height: 50px; */
}
.banner-inner-text h2 span {
    color: #1092B2;
    font-family: Montserrat-bold;
}
.navbar-brand img {

    width: 130px;

}

.banner-btn:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.banner-btn {
background-color: #1092B2;
color: rgb(250, 248, 248);
padding: 6px 28px;
border-radius: 6px;
}
.work-with-us {

}
.card-custom {
  margin-top: 12px;
}


.main-content1 {
 
  background: rgba(236, 239, 244, 0.82);
  border-radius: 16px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 239, 244, 0.3);
  padding-bottom: 120px;
}
.testing {
  height: 130px;
}
.bg-icons {
  
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 380px;
}
.bg-icons2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 265px;
  margin: 70px;
}
.bg-icons3 {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: -1;
  width: 250px;
  margin: 20px;
}
.bg-icons4 {
  position: absolute;
  left: 0px;
  top: -70px;
  z-index: -1;
  width: 350px;
  margin: 0px;
}
.work-heading p {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.main-content2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(236, 239, 244, 0.82);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 239, 244, 0.3);
}
.main-content3 {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(236, 239, 244, 0.82);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 239, 244, 0.3);
}
.main-content4 {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(236, 239, 244, 0.82);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 239, 244, 0.3);
}
.what-wrapper {
  position: relative;
  padding-top: 190px;
  padding-bottom: 120px;
}
.staking-wrapper {
  position: relative;
  /* height: 800px; */
  padding-top: 190px;
}
.work-wrapper {
     position: relative;
   /* height: 800px; */
   padding-top: 170px;
    /*  background-image: url(../assets/dd.png);
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
/* .work-with-bg {
    width: 7.7rem;
    height: 7.7rem;
    background-image: url('../assets/');
    /* background-colorgb(8, 7, 7)FFF; */
    /* opacity: 0.1; */
    /* position: absolute; */
    /* right: 7rem; */
    /* bottom: 7rem; */
    /* right: 0px; */
    /* background-repeat: no-repeat;

} */ 

.work-heading {
margin: 1px 12px;
}
.work-heading h1 {
    font-size: 46px;
    font-family: Montserrat-bold;
    color: #1092B2;
}
.work-wrapper {

}
.card {
      border: 0px solid rgba(255, 255, 255, 0.125) !important;

}
.work-wrappe {
    padding-top: 130px;
    padding-bottom: 130px;
}

.card .card-img-top {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
.card .card-custom-top1 {
    width: 190px;
}
.card .card-custom-top3 {
    width: 190px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.card-group-wrapper {
    padding-top: 70px;
}

.card-title-text1 {
    color: #1092B2;
    font-family: Montserrat-Medium;
}
.card-title-text2 {
    color: #FE7D1E;
    font-family: Montserrat-Medium;
    
}
.card-title-text3 {
    color: #1092B2;
    font-family: Montserrat-Medium;
}
.card-1 {
    border: 2px solid #D6DFF6 !important;
    box-shadow: 0 0px 12px #00000015;
    border-radius: 10px !important;
    margin-right:50px;
    margin-left: 50px;
    background-color: #ffffff !important;
    border-radius: 8px;
}
.card-inner-text {
    font-size: 12px;
    font-family: Montserrat-regular;
    color: #02293E;
}
.stake-wrapper {
    position: relative;
    padding-top: 170px;
margin-top: 90px;

}
.tabs-body-text h5 {
  font-size: 26px;
  font-family: Montserrat-bold;
}
.tabs-body-text {
  font-size: 12px;
  font-family: Montserrat-regular;
}
.card-2 .btn-stake:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.card-2 .btn-stake {
    background-color: #1092B2;
    color: white;
    border-radius: 6px;
    border: none;
}
.card-2 .media img  {
    border-radius: 12px;
    height: 62px;
    margin-bottom: 12px;
}
.card-2 {
 
  box-shadow: 0 0px 12px #00000015;
    margin-right:50px;
    margin-left: 50px;
    background-color: #F8FAFD !important;
    border-radius: 18px;

    padding: 12px 12px;
} 
.blue-btn:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.blue-btn {
    background-color: #1092B2;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 5px 50px;
    margin: 10px 0px;
}

/* ----------------------footer-css----------------------- */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {

  position: relative;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 12px;
}
.footer-logo img {
    max-width: 150px;
  
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 10px;
      color: #7e7e7e;
  line-height: 20px;
  font-family: Montserrat-Medium;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  /* color: #fff; */
  font-size: 14px;
  font-weight: 500;
  /* margin-bottom: 10px; */
  margin-top: 10px;
  position: relative;
  font-family: Montserrat-Medium;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;

}
.footer-content {
  margin-top: 18px;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 60%;
  margin-bottom: 2px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #02293E;
  text-transform: capitalize;
  font-size: 12px;
  font-family: Montserrat-Medium;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
  margin: 10px 0px;
}
.subscribe-form input {
  padding: 8px 18px;
  width: 330px;
  background: #F2F4F8;
  border: 1px solid #F2F4F8;
  color: #fff;
  margin-top: 12px;
}
.footer-logo-text {
  width: 75%;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.footer-widget {
 
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.footer-content  {
  background-color: #ECEFF4;
}
.send-form input {
  padding: 8px 18px;
 
  background: #F2F4F8;
  border: 1px solid #F2F4F8;
  color: #fff;
  margin-top: 12px;
} 
.send-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #878787;
  font-size: 10px !important;
  opacity: 1; /* Firefox */

  text-transform: capitalize;
  font-size: 12px;
  font-family: Montserrat-Medium;
}
.send-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #878787;
  font-size: 12px;
  opacity: 1; /* Firefox */

  text-transform: capitalize;
  font-size: 10px !important;
  font-family: Montserrat-Medium;
}
.send-form textarea {
  padding: 8px 18px;
 
  background: #F2F4F8;
  border: 1px solid #F2F4F8;
  color: #fff;
  margin-top: 12px;
} 
.send-form {
  /* width: 90%; */
}
.footer-top-text {
  margin: 32px 60px;
}
.heading-footer {
  color: #1092B2;
    font-family: Montserrat-bold;
    font-size: 36px;
}
.inner-text {
  color: #02293E;
  width: 90%;
  margin-top: 14px;
  font-size: 13px;
}
.send-btn:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.send-btn{
  background-color: #1092B2;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 5px 69px;
    
}
/* ----------------------footer-css----------------------- */

/* ----------------------staking-css----------------------- */
.staking-inner-text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #02293E;
  font-family: Montserrat-Medium;
  font-size: 13px;

}

.accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f107";
  float: right; 
  color: #1092B2;

}

.accordion .card-header.collapsed:after {

  font-family: 'FontAwesome';  
  content: "\f054"; 


}
.accordion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.card-header {
  box-shadow: #02293E;
  margin-bottom: 112px;
}
.accordion .card .card-header {
  border-radius: 6px !important;
  border: 1px solid #D6DFF6;
  background-color: #F6F7F9;
  /* box-shadow: 10px 2px 0px #D6DFF6; */
  margin-bottom: 11px !important;
}
.card {

  /* background-color: unset !important; */
 
}
.staking-btn {
  background-color: #1092B2;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 5px 19px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
    font-family: Montserrat-Medium;
}
/* ----------------------skaking-css----------------------- */
/* ----------------------invest-css----------------------- */
.invest-title-text {
color: #1092B2;
}
.btn-view:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.btn-view {
  background-color: #1092B2;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 5px 19px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
    font-family: Montserrat-Medium;
}
/* ----------------------invest-css----------------------- */

/*Animations*/

[data-animate-in] {
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease
}

[data-animate-in="up"] {
  transform: translate3d(0, 124px, 0)
}

[data-animate-in="left"] {
  transform: translate3d(-25%, 0, 0)
}

[data-animate-in="right"] {
  transform: translate3d(25%, 0, 0)
}

[data-animate-in="down"] {
  transform: translate3d(0, -24px, 0)
}

[data-animate-in="fadeIn"] {
  transform: translate3d(10, 10, 10)
}

[data-animate-in].in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 1.6s ease, opacity 1.6s ease
}


.fade-in {
  opacity: 0;
  transition: opacity 1s ease
}

.page-loaded .fade-in,.page-loaded.fade-in {
  opacity: 1
}

.isSafari.isTouch [data-animate-in],.isSafari.isTouch [data-animate-in="up"] {
  opacity: 1;
  transition: none;
  transform: none
}


/* -------------------------------------------------------------------------------------------------animation cubes------------------------------- */
.cubes .cube {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 0;
  animation: cube-fade-in 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
}
@keyframes cube-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
}
.cubes .cube * {
  position: absolute;
  height: 100%;
  width: 100%;
}
.cubes .cube .shadow {
  background: #acaeaf;
  top: 40%;
}
.cubes .cube .sides {
  transform-style: preserve-3d;
  perspective: 600px;
}
.cubes .cube .sides div {
  backface-visibility: hidden;
  will-change: transform;
}
.cubes .cube .sides .front {
  transform: rotateY(0deg) translateZ(50px);
}
.cubes .cube .sides .back {
  transform: rotateY(-180deg) translateZ(50px);
}
.cubes .cube .sides .left {
  transform: rotateY(-90deg) translateZ(50px);
}
.cubes .cube .sides .right {
  transform: rotateY(90deg) translateZ(50px);
}
.cubes .cube .sides .top {
  transform: rotateX(90deg) translateZ(50px);
}
.cubes .cube .sides .bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
template {
  display: block !important;
}

/* @import "compass/css3";
{
	 margin: 0;
	 height: 100vh;
	 perspective: 25em;
} */
body [class*="cube"] {
	 position: absolute;
}
 .cube {
  top: 24%;
  left: 70%
	 transform-style: preserve-3d;
	 font-size: 8vmin;
	 animation: ani 8s ease-in-out infinite;
}
 .cube__face {
	 margin: -2em;
	 width: 4em;
	 height: 4em;
	 backface-visibility: hidden;
	 --i: 0;
	 --j: 1;
	 transform: rotate3d(var(--i), var(--j), 0, var(--a)) translateZ(2em);
	 background: linear-gradient(var(--ga), var(--gs));
}
 .cube__face:nth-child(n + 5) {
	 --i: 1;
	 --j: 0;
   --gs: #feffaa, #b2ff90;
}
 .cube__face:nth-child(1) {
	 --a: 0deg;
	 --ga: 279deg;
	 --gs: #feffaa, #b2ff90;
}
 .cube__face:nth-child(2) {
	 --a: 90deg;
	 --ga: 218deg;
	 --gs: #fbc2eb, #a6c1ee;
}
 .cube__face:nth-child(3) {
	 --a: 180deg;
	 --ga: 197deg;
	 --gs: #84fab0, #8fd3f4;
}
 .cube__face:nth-child(4) {
	 --a: 270deg;
	 --ga: 112deg;
	 --gs: #a1c4fd, #c2e9fb;
}
 .cube__face:nth-child(5) {
	 --a: pow(-1, 4) * 90deg;
	 --ga: 334deg;
	 --gs: #f6d365, #fda085;
}
 .cube__face:nth-child(6) {
	 --a: pow(-1, 5) * 90deg;
	 --ga: 179deg;
	 --gs: #ffecd2, #fcb69f;
}
 @keyframes ani {
	 from {
		 transform: rotateY(2turn) rotateX(2turn);
	}
	 to {
		 transform: rotateY(1turn) rotateX(1turn);
	}
}
 
/* -------------------------------------------------------------------------------------------------animation cubes------------------------------- */
/* ----------------------------------------------------------------------------------------Media-query-css----------------------- */
/* Landscape phones and down */
@media (max-width: 480px) {  
  .footer-widget ul li a {
  
    margin-left: 46px;
}
.footer-widget-heading h3 {
  margin-left: 42px;
}
.footer-text p {
 margin-left: 42px;
}
.subscribe-form input {
  
  width: 180px;
  margin-left: 12px;

}
.blue-btn {
 
  margin: 10px 50px;
}
.banner-wrapper {
  margin: 26px 32px;
}
.cube, .cube-two,.cube-three {
  display: none;
}
.bg-icons3 {
  position: absolute;
  right: 0px;
  top: 77px;
  z-index: -1;
  width: 146px;
  margin: 20px;
}
.bg-icons2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 165px;
  margin: 70px;
}
.bg-icons {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 180px;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

  .footer-widget ul li a {
  
    margin-left: 46px;
}
.fixed-top {
  width: 349px !important;

}
.bg-icons3 {
  position: absolute;
  right: 0px;
  top: 77px;
  z-index: -1;
  width: 146px;
  margin: 20px;
}
.bg-icons2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 165px;
  margin: 70px;
}
.bg-icons {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 180px;
}
 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Large desktop */
@media (min-width: 1200px) {  }
/* ---------------------------------------------------------------------------------------Media-query-css----------------------- */