@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

@font-face {
    font-family: Montserrat-regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
  }
@font-face {
    font-family: Montserrat-bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
  }
@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
  }
 
  #navbar {

    overflow: hidden;
  

  }
  .fixed-top {
    margin-left: auto;
    margin-right: auto;
   width: 1200px !important; 
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
    background-color: #ffffff !important;
 }
 #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    border: 1px solid red;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

body {
    background-color: #F6F7F9 !important;
}
.nav-icons ul li {
    list-style: none;
    display: inline-block
    
}

.nav-icons ul  {
margin: 0px 12px;
}
.nav-icons ul li img {
    margin-left: 9px;
    margin-right: 9px;
    width: 19.56px;
    margin-top: 12px;
      
}
.nav-icons {
    display: inline-flex;
}
.nav-icons .btn:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.nav-icons .btn{
  background-color: #1092B2;
  color: white;
  padding: 4px 32px;
  border: none;
  border-radius: 5px;
  margin: 9px 7px;
  font-size: 14px;
font-family: 'Montserrat-regular', sans-serif;
  font-weight: 300;
}
.nav-item a {

font-size: 12px;
margin-right: 12px;
margin-left: 18px;
margin-top: 4px;
font-weight: 500;
font-family: 'Montserrat-Medium', sans-serif;
color: #02293E  !important;
}
.banner-wrapper {
    margin: 162px 32px;
}
.banner-inner-text h2 {
    font-family: Montserrat-bold;
    width: 90%;
    line-height: 50px;
}
.banner-inner-text p {
    
    font-family: Montserrat-Medium;
    width: 97%;
    color: #707070;
    font-size: 12px;
    margin: 22px 0px;
    /* line-height: 50px; */
}
.banner-inner-text h2 span {
    color: #1092B2;
    font-family: Montserrat-bold;
}
.navbar-brand img {

    width: 130px;

}

.banner-btn:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.banner-btn {
background-color: #1092B2;
color: rgb(250, 248, 248);
padding: 6px 28px;
border-radius: 6px;
}
.work-with-us {

}
.card-custom {
  margin-top: 12px;
}


.main-content1 {
 
  background: rgba(236, 239, 244, 0.82);
  border-radius: 16px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 239, 244, 0.3);
  padding-bottom: 120px;
}
.testing {
  height: 130px;
}
.bg-icons {
  
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 380px;
}
.bg-icons2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 265px;
  margin: 70px;
}
.bg-icons3 {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: -1;
  width: 250px;
  margin: 20px;
}
.bg-icons4 {
  position: absolute;
  left: 0px;
  top: -70px;
  z-index: -1;
  width: 350px;
  margin: 0px;
}
.work-heading p {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.main-content2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(236, 239, 244, 0.82);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 239, 244, 0.3);
}
.main-content3 {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(236, 239, 244, 0.82);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 239, 244, 0.3);
}
.main-content4 {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(236, 239, 244, 0.82);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 239, 244, 0.3);
}
.what-wrapper {
  position: relative;
  padding-top: 190px;
  padding-bottom: 120px;
}
.staking-wrapper {
  position: relative;
  /* height: 800px; */
  padding-top: 190px;
}
.work-wrapper {
     position: relative;
   /* height: 800px; */
   padding-top: 170px;
    /*  background-image: url(../assets/dd.png);
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
/* .work-with-bg {
    width: 7.7rem;
    height: 7.7rem;
    background-image: url('../assets/');
    /* background-colorgb(8, 7, 7)FFF; */
    /* opacity: 0.1; */
    /* position: absolute; */
    /* right: 7rem; */
    /* bottom: 7rem; */
    /* right: 0px; */
    /* background-repeat: no-repeat;

} */ 

.work-heading {
margin: 1px 12px;
}
.work-heading h1 {
    font-size: 46px;
    font-family: Montserrat-bold;
    color: #1092B2;
}
.work-wrapper {

}
.card {
      border: 0px solid rgba(255, 255, 255, 0.125) !important;

}
.work-wrappe {
    padding-top: 130px;
    padding-bottom: 130px;
}

.card .card-img-top {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
.card .card-custom-top1 {
    width: 190px;
}
.card .card-custom-top3 {
    width: 190px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.card-group-wrapper {
    padding-top: 70px;
}

.card-title-text1 {
    color: #1092B2;
    font-family: Montserrat-Medium;
}
.card-title-text2 {
    color: #FE7D1E;
    font-family: Montserrat-Medium;
    
}
.card-title-text3 {
    color: #1092B2;
    font-family: Montserrat-Medium;
}
.card-1 {
    border: 2px solid #D6DFF6 !important;
    box-shadow: 0 0px 12px #00000015;
    border-radius: 10px !important;
    margin-right:50px;
    margin-left: 50px;
    background-color: #ffffff !important;
    border-radius: 8px;
}
.card-inner-text {
    font-size: 12px;
    font-family: Montserrat-regular;
    color: #02293E;
}
.stake-wrapper {
    position: relative;
    padding-top: 170px;
margin-top: 90px;

}
.tabs-body-text h5 {
  font-size: 26px;
  font-family: Montserrat-bold;
}
.tabs-body-text {
  font-size: 12px;
  font-family: Montserrat-regular;
}
.card-2 .btn-stake:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.card-2 .btn-stake {
    background-color: #1092B2;
    color: white;
    border-radius: 6px;
    border: none;
}
.card-2 .media img  {
    border-radius: 12px;
    height: 62px;
    margin-bottom: 12px;
}
.card-2 {
 
  box-shadow: 0 0px 12px #00000015;
    margin-right:50px;
    margin-left: 50px;
    background-color: #F8FAFD !important;
    border-radius: 18px;

    padding: 12px 12px;
} 
.blue-btn:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.blue-btn {
    background-color: #1092B2;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 5px 50px;
    margin: 10px 0px;
}

/* ----------------------footer-css----------------------- */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {

  position: relative;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 12px;
}
.footer-logo img {
    max-width: 150px;
  
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 10px;
      color: #7e7e7e;
  line-height: 20px;
  font-family: Montserrat-Medium;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  /* color: #fff; */
  font-size: 14px;
  font-weight: 500;
  /* margin-bottom: 10px; */
  margin-top: 10px;
  position: relative;
  font-family: Montserrat-Medium;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;

}
.footer-content {
  margin-top: 18px;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 60%;
  margin-bottom: 2px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #02293E;
  text-transform: capitalize;
  font-size: 12px;
  font-family: Montserrat-Medium;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
  margin: 10px 0px;
}
.subscribe-form input {
  padding: 8px 18px;
  width: 330px;
  background: #F2F4F8;
  border: 1px solid #F2F4F8;
  color: #fff;
  margin-top: 12px;
}
.footer-logo-text {
  width: 75%;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.footer-widget {
 
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.footer-content  {
  background-color: #ECEFF4;
}
.send-form input {
  padding: 8px 18px;
 
  background: #F2F4F8;
  border: 1px solid #F2F4F8;
  color: #fff;
  margin-top: 12px;
} 
.send-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #878787;
  font-size: 10px !important;
  opacity: 1; /* Firefox */

  text-transform: capitalize;
  font-size: 12px;
  font-family: Montserrat-Medium;
}
.send-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #878787;
  font-size: 12px;
  opacity: 1; /* Firefox */

  text-transform: capitalize;
  font-size: 10px !important;
  font-family: Montserrat-Medium;
}
.send-form textarea {
  padding: 8px 18px;
 
  background: #F2F4F8;
  border: 1px solid #F2F4F8;
  color: #fff;
  margin-top: 12px;
} 
.send-form {
  /* width: 90%; */
}
.footer-top-text {
  margin: 32px 60px;
}
.heading-footer {
  color: #1092B2;
    font-family: Montserrat-bold;
    font-size: 36px;
}
.inner-text {
  color: #02293E;
  width: 90%;
  margin-top: 14px;
  font-size: 13px;
}
.send-btn:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.send-btn{
  background-color: #1092B2;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 5px 69px;
    
}
/* ----------------------footer-css----------------------- */

/* ----------------------staking-css----------------------- */
.staking-inner-text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #02293E;
  font-family: Montserrat-Medium;
  font-size: 13px;

}

.accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f107";
  float: right; 
  color: #1092B2;

}

.accordion .card-header.collapsed:after {

  font-family: 'FontAwesome';  
  content: "\f054"; 


}
.accordion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.card-header {
  box-shadow: #02293E;
  margin-bottom: 112px;
}
.accordion .card .card-header {
  border-radius: 6px !important;
  border: 1px solid #D6DFF6;
  background-color: #F6F7F9;
  /* box-shadow: 10px 2px 0px #D6DFF6; */
  margin-bottom: 11px !important;
}
.card {

  /* background-color: unset !important; */
 
}
.staking-btn {
  background-color: #1092B2;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 5px 19px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
    font-family: Montserrat-Medium;
}
/* ----------------------skaking-css----------------------- */
/* ----------------------invest-css----------------------- */
.invest-title-text {
color: #1092B2;
}
.btn-view:hover {
  text-decoration: none;
  background-color: #81C1E1;
  color: white;
}
.btn-view {
  background-color: #1092B2;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 5px 19px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
    font-family: Montserrat-Medium;
}
/* ----------------------invest-css----------------------- */

/*Animations*/

[data-animate-in] {
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease
}

[data-animate-in="up"] {
  transform: translate3d(0, 124px, 0)
}

[data-animate-in="left"] {
  transform: translate3d(-25%, 0, 0)
}

[data-animate-in="right"] {
  transform: translate3d(25%, 0, 0)
}

[data-animate-in="down"] {
  transform: translate3d(0, -24px, 0)
}

[data-animate-in="fadeIn"] {
  transform: translate3d(10, 10, 10)
}

[data-animate-in].in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 1.6s ease, opacity 1.6s ease
}


.fade-in {
  opacity: 0;
  transition: opacity 1s ease
}

.page-loaded .fade-in,.page-loaded.fade-in {
  opacity: 1
}

.isSafari.isTouch [data-animate-in],.isSafari.isTouch [data-animate-in="up"] {
  opacity: 1;
  transition: none;
  transform: none
}
/* ----------------------------------------------------------------------------------------Media-query-css----------------------- */
/* Landscape phones and down */
@media (max-width: 480px) {  
  .footer-widget ul li a {
  
    margin-left: 46px;
}
.footer-widget-heading h3 {
  margin-left: 42px;
}
.footer-text p {
 margin-left: 42px;
}
.subscribe-form input {
  
  width: 180px;
  margin-left: 12px;

}
.blue-btn {
 
  margin: 10px 50px;
}
.banner-wrapper {
  margin: 26px 32px;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

  .footer-widget ul li a {
  
    margin-left: 46px;
}
.fixed-top {
  width: 349px !important;

}
 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Large desktop */
@media (min-width: 1200px) {  }
/* ---------------------------------------------------------------------------------------Media-query-css----------------------- */